*{ margin: 0; padding: 0; }
a { text-decoration: none;}
.clearfix{
	overflow: auto;
}
.wrapper{
	margin: auto;
	width: 1000px;
	background-color: #f2ffe6;
}

.toptextbar{
width: 1000px;
}

.toptext{
text-align: center;
background: #99ff99;

}
.toptext h1{
	font-style: normal;
	font-weight: normal;
}
.contact-text{
text-align: center;
} 
nav{ 
	margin: 10px;
	background: black;
	text-align: center;
	border-radius: 10px;

}
nav ul{
	list-style-type: none;
}
nav ul li {
	display: inline;

}
nav ul li a {
	color: #fff;
	margin: 10px 40px 10px 40px;



	display: inline-block;
}
nav ul li a:hover{
	color: red;
}